<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>homepage</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css"  rel="stylesheet" media="screen,projection"/>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/quiz.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
  <nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Anime Recommender</a>
             <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect grey btn-large" id="logout">Logout</a></li>
        </div></li>
      </ul>
      <ul class="right hide-on-med-and-down">
    <form class="form login-form">
      <li>
        <div class="input-field col s3">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
        </div>
        </li>
        <li>
        <div class="input-field col s3">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
        </div>
        </li>
        <li>
        <div class="input-field col s3">
        <button class="btn btn-primary" type="submit">login</button>
        </div>
        </li>
        </form>
        </ul>