<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>homepage</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css"  rel="stylesheet" media="screen,projection"/>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/quiz.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Anime Recommender</a>
       {{#if loggedIn}}
             <ul class="right hide-on-med-and-down my-1">
        <li><a class="waves-effect btn-large rounded" id="logout">Logout</a></li>
        </div></li>
      </ul>

      {{else}}
<<<<<<< HEAD
      <ul class="right hide-on-med-and-down">
    <form class="form login-form w-38 black-text">
      <li class="w-36">
        <div class="input-field col s3 ">
        <label class="black-text" for="email-login">email:</label>
        <input class="form-input rounded" type="text" id="email-login" />
=======
      <ul class="right hide-on-med-and-down z-depth-4 black-text">
    <form class="form login-form w-38" action="/api/users/login" method="POST">
      <li class="w-36">
        <div class="input-field col s3">
        <label class="strong black-text" for="email-login">email:</label>
        <input class="form-input rounded" type="text" id="email-login" name="email" />
>>>>>>> bf4c8d60efa2728fb787922d1917e85774c496b0
        </div>
        </li>
        <li class="mx-5 w-36">
        <div class="input-field col s3">
        <label class="black-text text-darken" for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" name="password"/>
        </div>
        </li>
        <li>
        <div class="input-field col s3">
        <button class="btn btn-primary rounded" type="submit">login</button>
        </div>
        </li>
        </form>
        </ul>
        
      
     
      {{!-- <ul id="nav-mobile" class="sidenav">
        <br><br>
        <ul class="black-text">
        <li><div class="input-field col s3">
          <label class="strong black-text" for="email">email:</label>
        <input class="form-input rounded" type="text" id="email" />
        </div></li>
        <br><br>
        <li><div class="input-field col s3">
          <label class="black-text text-darken" for="password">password:</label>
        <input class="form-input" type="password" id="password"/>
        </div></li>
        <button class="btn btn-primary rounded" id="login-btn" type="submit">login</button>
      </ul>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div> --}}
{{/if}}

  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">

        {{{body}}}
      </div>
      <br><br>

    </div>
  </div>
  

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
  <script src="/js/quiz.js"></script>
  <script src="/js/login.js"></script>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
