<div class="flex justify-center text-center">
        <div>
            <h1 class="center">Surprise Me</h1>
            <img class="w-38 h-60 justify-center" id="anime-img" src="">
            <h1 class="w-38" id="anime-title"></h1>
        </div>
    </div>
<div class="container">
      <div class="row">
    
<div class="flex justify-center text-2xl ">
     <div class="row">
        <div id="quiz-box" class="quiz-box flex justify-center w-96 border-2 border-gray-200 flex-col p-10 m-16 rounded col s12">
                 </div>   
        </div>
    </div>
</div>



