<div class="flex justify-center text-2xl">
        <div id="quiz-box" class="quiz-box flex justify-center w-96 border-2 border-gray-200 flex-col p-10 m-16 rounded">
                    
        </div>
    </div>
{{!-- {{#each animeData}}{{.}}
{{> anime-partial}}
{{/each}} --}}

<h1>We did it</h1>

