<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./public/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" type="text/css" rel="stylesheet">
    <title>Quiz</title>
</head>

<body>
    <div class="flex justify-center">
        <div id="quiz-box" class="quiz-box flex justify-center w-96 border-2 border-gray-200 flex-col p-10 m-16 rounded">
            <div id="question-container" class="question bg-blue-400 text-white rounded p-2">
                <p>Test question</p>
            </div>
            <div class="answers border-2 border-gray-200 my-5 h-auto rounded">
                <ul class="p-2 rounded h-auto" multiple="multiple" id="list">
                </ul>
            </div>
            <div class="next">
                <button class="p-2 rounded text-white bg-blue-400 w-24" id="nextBtn" type="button" onclick="submitTest()">Next</button>
            </div>
        </div>
    </div>
    </div>
    <script src="../public/js/quiz.js"></script>
</body>

</html>